<div style="display: none"><vtex.cmc:welcomeMessage/></div>

<header class="pageHeader">
	<div class="mainHeader">
		<div class="menu-mobile-toggle">
			<i class="fas fa-bars"></i>
		</div>
		<div class="logo">
			<a href="/" title="Shop My Bikini" class="logoImg">
				<img src="/arquivos/shop-my-bikini-logo.png" alt=""/>
			</a>
		</div><!--/logo-->
		
		<div class="navigation">
			<div class="navOverlay"></div>
			<nav class="pageNav">
				<div class="esconde" style="display: none;">
					<vtex.cmc:departmentNavigator/>
				</div>
				<vtex.cmc:mainMenu />
			</nav>			
		</div>

		<div class="toggleButtons">

			<div class="toggleSearch">
				<div class="overflow">
					<div class="searchBox">
						<vtex.cmc:fullTextSearchBox/>
					</div>
				</div>
				<i class="fas fa-search"></i>
				<i class="fas fa-times"></i>
			</div>
			
			<div class="header-cart">
				<a href="#" class="openCart"><i class="fas fa-shopping-bag"></i><vtex.cmc:AmountItemsInCart/></a>
			</div><!-- /.header-cart -->

			<div class="customerService">
				<ul>
					<li><a href="/sistema/401">REGISTER</a> | <a href="/login">LOGIN</a></li>
					<li class="carrinho"><a href="#" class="openCart"><i class="fas fa-shopping-bag"></i><vtex.cmc:AmountItemsInCart/></a></li>
					<!-- <li><a href="/account" title="Account">Account</a></li>
					<li class="login">
						<a href=""></a>
					</li> -->
					<li>
						<div class="searchBox">
							<vtex.cmc:fullTextSearchBox/>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<h3 class="frase">
		<div class="mainHeader">
			The first Wholesale Marketplace of Brazilian Swimwear Brands
		</div>
	</h3>
</header>