<footer class="pageFooter">
	<div class="wrapper">
		<div class="floatingBox">
			<div class="footerLinks top">
				<div class="siteMapCol footerItem toggle">
					<h3>Site map <i class="fas fa-plus"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="" title="BIKINI SETS"> BIKINI SETS</a></li>
							<li><a href="" title="ONE PIECES"> ONE PIECES</a></li>
							<li><a href="" title="COVER UPS &amp; RESORTWEAR"> COVER UPS &amp; RESORTWEAR</a></li>
							<li><a href="" title="PLUS SIZE"> PLUS SIZE</a></li>
							<li><a href="" title="ACTIVEWEAR"> ACTIVEWEAR</a></li>
							<li><a href="" title="ACCESSORIES"> ACCESSORIES</a></li>
						</ul>
					</div>
				</div>
				<div class="attendenceCol footerItem toggle">
					<h3>Customer Service <i class="fas fa-plus"></i></h3>
					<div class="itemContent">
						<ul>
							<li class="item contact-us">
	                            <a href="/institutional/contact-us">Contact Us</a>
	                        </li>
	                        <li class="item my-orders">
	                            <a href="/account/orders">My Orders</a>
	                        </li>
	                        <li class="item shipping-info">
	                            <a href="/institutional/shipping-info">Shipping Info</a>
	                        </li>
	                        <li class="item return-policy">
	                            <a href="/institutional/return-policy">Return Policy</a>
	                        </li>
						</ul>
					</div>
				</div>
				<div class="aboutCol footerItem toggle">
					<h3>Info <i class="fas fa-plus"></i></h3>
					<div class="itemContent">
						<ul>
							<li class="item about-us">
	                            <a href="/institutional/about-us">About Us</a>
	                        </li>
	                        <li class="item terms-e-conditions">
	                            <a href="/institutional/terms-e-conditions">Terms &amp; Conditions</a>
	                        </li>
	                        <li class="item privacy-policy">
	                            <a href="/institutional/privacy-policy">Privacy Policy</a>
	                        </li>
	                        <li class="item blog">
	                            <a href="http://blog.shopmybikini.com" target="_blank">Blog</a>
	                        </li>
						</ul>
					</div>
				</div>
				<div class="socialCol">
					<div class="itemContent">
						<ul>
							<li><a href="https://www.facebook.com/ShopMyBikini/" target="_blank" title="Facebook"><img src="/arquivos/logo-facebook.png" alt=""/></a></li>
							<li><a href="https://www.instagram.com/shopmybikiniofficial/" target="_blank" title="Instagram"><img src="/arquivos/logo-instagram.png" alt=""/></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footerLinks bottom">			
				<div class="linkCol footerItem toggle">
					<h3>Link <i class="fas fa-plus"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="" title="Fit guide">Fit guide</a></li>
							<li><a href="" title="Start a Return">Start a Return</a></li>
							<li><a href="" title="Return Policy">Return Policy</a></li>
							<li><a href="" title="Terms of use">Terms of use</a></li>
							<li><a href="" title="Shipping Policy">Shipping Policy</a></li>
							<li><a href="" title="Privacy Policy">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="paymentCol footerItem toggle">
					<h3>Pay with <i class="fas fa-plus"></i></h3>
					<div class="itemContent">
						<ul>
							<li><img src="/arquivos/flag-visa.png" alt=""/></li>
							<li><img src="/arquivos/flag-master.png" alt=""/></li>
							<li><img src="/arquivos/flag-hypercard.png" alt=""/></li>
							<li><img src="/arquivos/flag-amex.png" alt=""/></li>
							<li><img src="/arquivos/flag-itau.png" alt=""/></li>
							<li><img src="/arquivos/flag-diners.png" alt=""/></li>
							<li><img src="/arquivos/flag-boleto.png" alt=""/></li>
						</ul>
					</div>
				</div>
				<div class="poweredCol">
					<div class="itemContent">
						<div class="itemContent">
							<ul>
								<li><a href="http://www.ceubranding.com/" target="_blank" title="CEU"><img src="/arquivos/logo-ceu.png" alt=""/></a></li>
								<li><a href="http://www.vtex.com/" target="_blank" title="Vtex"><img src="/arquivos/logo-vtex.png" alt=""/></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>