<footer class="pageFooter">
	<div class="wrapper">
		<div class="floatingBox">
			<div class="footerLinks top">

				<div class="logo footerItem toggle">
					<a href="/" title="Shop My Bikini" class="logoImg">
						<img src="/arquivos/shop-my-bikini-logo.png" alt=""/>
					</a>
				</div><!--/logo-->
				
				<div class="attendenceCol footerItem toggle">
					<h3>Customer Service <i class="fas fa-plus"></i></h3>
					<div class="itemContent">
						<ul>
							<li class="item contact-us">
	                            <a href="/institutional/contact-us">Contact Us</a>
	                        </li>
	                        <li class="item my-orders">
	                            <a href="/account/orders">My Orders</a>
	                        </li>
	                        <li class="item shipping-info">
	                            <a href="/institutional/shipping-info">Shipping Info</a>
	                        </li>
	                        <li class="item return-policy">
	                            <a href="/institutional/return-policy">Returns</a>
	                        </li>
						</ul>
					</div>
				</div>

				<div class="aboutCol footerItem toggle">
					<h3>About Shop My Bikini <i class="fas fa-plus"></i></h3>
					<div class="itemContent">
						<ul>
							<li class="item about-us">
	                            <a href="/institutional/about-us">About Us</a>
	                        </li>
	                        <li class="item terms-e-conditions">
	                            <a href="/institutional/terms-e-conditions">Terms &amp; Conditions</a>
	                        </li>
	                        <li class="item privacy-policy">
	                            <a href="/institutional/privacy-policy">Privacy Policy</a>
	                        </li>
	                        <li class="item blog">
	                            <a href="http://blog.shopmybikini.com" target="_blank">Blog</a>
	                        </li>
						</ul>
					</div>
				</div>

				<div class="socialAndPower">
					<div class="socialCol">
						<div class="itemContent">
							<ul>
								<li><a href="https://www.instagram.com/shopmybikiniofficial/" target="_blank" title="Instagram"><img src="/arquivos/logo-instagram.png" alt=""/></a></li>
								<li><a href="https://www.facebook.com/ShopMyBikini/" target="_blank" title="Facebook"><img src="/arquivos/logo-facebook.png" alt=""/></a></li>
							</ul>
						</div>
					</div>

					<div class="poweredCol">
						<div class="itemContent">
							<div class="itemContent">
								<ul>
									<li><a href="http://www.ceubranding.com/" target="_blank" title="CEU"><img src="/arquivos/logo-ceu.png" alt=""/></a></li>
									<li><a href="http://www.vtex.com/" target="_blank" title="Vtex"><img src="/arquivos/logo-vtex.png" alt=""/></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>