#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<div class="shelf-wrapper">

	<div class="idSku" style="display: none;">$product.productVariantId</div>
	<div class="productId" style="display: none;">$product.Id</div>
	<div class="categoryName" style="display: none;">$product.CategoryName</div>
	<div class="bestPrice" style="display: none;">$product.BestPrice</div>

	<!-- Flags -->
	<div rel="$product.productVariantId" class="flags">
		$product.DiscountHightLight
		$product.HightLight
	</div>

	<!-- Foto do produto -->
	<div class="photo">
		<a title="$escapedName" href="$uri" class="urlProduct">
			<div class="shelf-image-container">
				$product.GetImageTag(350,350)
				$product.GetImageTag(350,350,"imagetwo")
			</div>
		</a>

		<!-- <a href="$uri" class="urlProduct bt shop"><span>Shop</span></a> -->
	</div>

	<div class="wrapperConteudo">
		<!-- <a href="$product.CategoryLink" class="categoryName">$product.CategoryName</a> -->
		$product.BrandLink

		<a title="$escapedName" href="$uri" class="urlProduct">
			<div class="product-name">$product.Name</div>
		</a>
		
	    #if ($product.IsInStock)
	    	<div class="boxWrapPreceComprar">
		    	<a class="wrapperPreco urlProduct" title="$escapedName" href="$uri">
			        <p class="preco">
				    	#if ($product.HasBestPrice)
				        	<span class="valor-de"><strong>$product.ListPrice</strong></span>
				        #end
				    
					    <span class="valor-por"><strong>$product.BestPrice</strong></span>
				    </p>
				</a>

				<div class="skus"><strong>Loading Colors...</strong></div>

				<a href="/sistema/401" class="pag401"><span>Please login to see pricing</span></a>
			</div>
	    #else
	    	<div class="boxWrapPreceComprar">
		    	<a class="wrapperPreco" title="$escapedName" href="$uri" class="urlProduct">
					<!-- Produto esgotado -->
			        <div class="esgotado">Product Out of stock</div> 
			    </a>

			    <a href="/sistema/401" class="pag401"><span>Please login to see pricing</span></a>
			</div>
	    #end
    </div>
</div>