<div class="navHead">
    <i class="fas fa-times"></i>
</div>
<div class="menu-departamento">
    <h3 class="bikini-sets hasSubmenu">
        <a class="menu-item-texto" href="/swimwear">Swimwear<i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <div class="submenu hasBanner" id="bikini-sets">
        <div class="submenuWrap">
            <ul>
                <!-- <li>
                    <strong>
                        <a href="">Category</a>
                    </strong>
                </li> -->
                <li>
                    <a href="/swimwear/bikini-sets">BIKINI SETS</a>
                </li>
                <li>
                    <a href="/swimwear/one-pieces">ONE PIECES</a>
                </li>
                <li>
                    <a href="/swimwear/tops">TOPS</a>
                </li>
                <li>
                    <a href="/swimwear/bottoms">BOTTOMS</a>
                </li>
                <li>
                    <a href="/swimwear/hot-picks">HOT PICKS</a>
                </li>
            </ul>

            <div class="bannerSubmenu">
                <a href="/">
                    <img src="/arquivos/imagem-menu-swimwear.jpg" alt="MyBikini" />
                </a>
            </div>
        </div>
    </div>
    <h3 class="one-pieces">
        <a href="/one-pieces" class="menu-item-texto" href="">One Pieces <i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <h3 class="cover-ups---resortwear">
        <a href="/cover-ups---resortwear" class="menu-item-texto" href="">Cover ups &amp; Resortwear<i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <h3 class="plus-size">
        <a href="/plus-size" class="menu-item-texto" href="">Plus Size <i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <!-- <h3 class="activewear">
        <a class="menu-item-texto" href="">Activewear <i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
    <div class="submenu hasBanner" id="activewear">
        <div class="submenuWrap">
            <ul>
                <li>
                    <strong>
                        <a href="">CATEGORIA</a>
                    </strong>
                </li>
                <li>
                    <a href="">SUB CATEGORIA</a>
                </li>
                <li>
                    <a href="">SUB CATEGORIA</a>
                </li>
                <li>
                    <a href="">SUB CATEGORIA</a>
                </li>
            </ul>
            <ul>
                <li>
                    <strong>
                        <a href="">CATEGORIA</a>
                    </strong>
                </li>
                <li>
                    <a href="">SUB CATEGORIA</a>
                </li>
            </ul>
            <ul>
                <li>
                    <strong>
                        <a href="">CATEGORIA</a>
                    </strong>
                </li>
                <li>
                    <a href="">SUB CATEGORIA</a>
                </li>
                <li>
                    <a href="">SUB CATEGORIA</a>
                </li>
                <li>
                    <a href="">SUB CATEGORIA</a>
                </li>
            </ul>
        </div>
    </div> -->
    <h3 class="accessories">
        <a href="/accessories" class="menu-item-texto" href="">Accessories <i class="fas fa-angle-right ico-expand"></i></a>
    </h3>
</div>