<link rel="shortcut icon" href="/arquivos/mybikini-favicon.ico" type="image/x-icon" />

<header class="header">
	<div class="tpl-center">
        <h1 class="logo">
        	<a href="/" title="Shop My Bikini">
        		<img src="/arquivos/shop-my-bikini-logo.png" alt="Shop My Bikini"/>
        	</a>
        </h1>

      	<div class="duvidas"><span>THE FIRST WHOLESALE MARKETPLACE OF BRAZILIAN BRANDS</span></div>
      	
      	<div class="seg">
      		<img src="/arquivos/lets-checkout.png" alt="Site Seguro - Shop My Bikini" />
      	</div>
	</div>
</header>