/* ==========================================================================
   imports componentes
   ========================================================================== */
@import "footer";
@import "header";
@import "minicart";
@import "lightbox";
@import "slider";
@import "shelf";

#mainContent,
#main{
    /*padding-top: 94px;*/
    padding-top: 110px;
}

@include media($tablet) {
	#mainContent,
	#main{
	    padding-top: 140px;
	}
}

body.home,
body.pag401{
	#mainContent{
	    /*padding-top: 94px;*/
	    padding-top: 120px;
	}	
}