/* ==========================================================================
   Footer
   ========================================================================== */
.pageFooter{
}

/* ==========================================================================
   Footer
   ========================================================================== */
.pageFooter{
    background: #eee;

    .floatingBox {
        position: relative;
        background: #fff;
        padding: 60px;
        top: -30px;
    }

    .footerLinks {
        h3 {
            margin-bottom: 25px;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;

            i {
                display: none;
            }
        }
        
        ul {
            margin: 0;
            padding: 0;
        }

        li {
            a {
                display: block;
                padding: 5px 0;
                color: #000;
                font-size: 13px;
                text-transform: uppercase;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &.top {
            /*padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #eee;*/
        }
    }

    @media screen and (max-width: 480px) {
        .floatingBox {
            padding: 20px;
            top: inherit;
        }

        .footerLinks {
            h3 {
                font-size: 12px;
            }
        }
    }

    .logo {
        @include span-columns(3);
    }
    .siteMapCol {
        @include span-columns(3);
    }
    .attendenceCol  {
        @include span-columns(3);
    }
    .aboutCol  {
        @include span-columns(3);        
    }
    .socialAndPower{
        @include span-columns(3);        

        .socialCol {
            width: 100%;
            display: block;
            overflow: hidden;

            ul {
                width: 100%;
                margin: 0;
                padding: 0;
                text-align: right;

                li {
                    float: right;

                    &:last-child{
                        margin-right: 5px;
                    }
                }
            }
        }

        .poweredCol {
            width: 100%;
            display: block;
            overflow: hidden;
            margin-top: 5px;

            ul {
                width: 100%;
                margin: 0;
                padding: 0;
                text-align: right;

                li {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: block;
                }
            }
        }
    }

    .linkCol {
        @include span-columns(6);
        li {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }
    }

    .paymentCol {
        @include span-columns(2.5);
        li {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 15px;
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }

    @include media($mobile) {
        .footerLinks {
            &.top {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
            h3 {
                position: relative;
                display: block;
                margin-bottom: 0;
                padding: 15px 0;
                border-width: 0 0px;
                cursor: pointer;
                
                i {
                    display: block;
                    position: absolute;
                    top: 15px;
                    right: 0px;
                }

                &.active {
                    i {
                        @include transform(rotate(45deg));
                        
                    }
                }
            }
        	.footerItem {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-right: 0;

                &.logo{
                    text-align: center;
                    margin-bottom: 20px;
                }

        		&.toggle {
        			.itemContent {
        				display: none;
		                height: 0;

		                &.active {
		                    display: none;
		                    height: auto;
		                }
        			}
        		}
            }
            
            .socialAndPower{
                width: 100%;
                text-align: center;
                margin-top: 20px;

                .socialCol {
                    text-align: center;

                    ul{ 
                        text-align: center;

                        li{
                            display: inline-block;
                            float: inherit;

                            &:last-child{
                                margin-right: 0;
                            }

                            &:first-child{
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .poweredCol {
                    width: 100%;
                    float: none;
                    margin-left: 0;
                    margin-right: 0;
                    text-align: center;

                    ul{ 
                        text-align: center;

                        li{
                            display: inline-block;
                            float: inherit;
                        }
                    }
                }
            }            
        }
    }
}

body.notMobile {
	.mainFooter{
		.itemContent {
			display: block !important;
			ul {
				margin: 0 !important;
			}
		}
	}
}