/* ==========================================================================
   Header - Estrutura
   ========================================================================== */
.pageHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999;

    .mainHeader {
        display: table;
        width: 100%;
        padding: 0 30px;
        position: relative;

        .header-cart{
            display: none!important;
        }

        &:after {
            display: none;
        }
        .menu-mobile-toggle {
            display: none;
        }
        .logo {
            display: table-cell;
            vertical-align: middle;
            /*min-width: 170px;*/
            max-width: 146px;
        }
        .navigation {
            display: table-cell;
            vertical-align: middle;
            max-width: 970px;
        }
        .toggleButtons {
            display: table-cell;
            vertical-align: middle;
            min-width: 270px;            
        }

        @include media($tablet) {
            .menu-mobile-toggle {
                @include span-columns(2);
                float: none;
                display: inline-block;
                vertical-align: middle;
            }
            .logo {
                @include span-columns(4);
                float: none;
                display: inline-block;
                vertical-align: middle;
                padding-right: 0;
            }
            .navigation {
                // display: none;
                float: left;
            }
            .toggleButtons {
                @include span-columns(2);
                float: none;
                display: inline-block;
                vertical-align: middle;
                min-width: auto;
                padding-left: 0;
            }
        }

        @include media($mobile) {
            .menu-mobile-toggle {
                @include span-columns(1);
                float: none;
                display: inline-block;
            }
            .logo {
                @include span-columns(2);
                float: none;
                display: inline-block;
                min-width: auto;
            }
            .toggleButtons {
                @include span-columns(1);
                float: none;
                display: inline-block;
            }
        }
    }

    h3.frase{
        font-family: inherit;
        text-align: center;
        display: block;
        color: $black;
        font-size: 14px;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: #eee;

        .mainHeader{
            padding: 0!important;   
        }
    }

    @include media($mobile) {
        h3.frase{
            font-size: 12px;
        }
    }
}

/* ==========================================================================
   Header - Customização
   ========================================================================== */
.pageHeader{
    background: #000000;
    /*padding-bottom: 50px;*/
    .mainHeader {
        position: relative;        
    }
    .menu-mobile-toggle {
        color: $color2;
        font-size: rem(40px);
    }
    .logo {
        padding-right: 30px;
        a {
            display: block;
            line-height: 0;
        }
        img {
            width: 100%;
            max-width: 164px;
            height: auto;
        }
    }

    .toggleButtons {
        padding-left: 30px;       
        
        .toggleSearch {
            display: inline-block;
            vertical-align: middle;
            color: #999999;
            font-size: rem(16px);
            padding: 0px 10px;
            border-right: 1px solid $color2;
            display: none;

            .fas {
                text-align: center;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }

            .fa-times {
                display: none;
                float: right;
                margin-top: 20px;
            }

            .overflow {
                display: none;
                position: absolute;
                width: 100%;
                bottom: -40px;
                left: 0;
                padding: 4px;
                border: 1px solid $color3;
                background: #000;
            }

            .searchBox {
                position: relative;
                background: #fff;
                height: 30px;
                width: 100%;
                border: 1px solid $color3;
                legend, label, select{display: none}
                fieldset {
                    position: relative;
                    width: 100%;
                    &:before {
                        content: "\f002";
                        font-family: "Font Awesome\ 5 Free";
                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        line-height: 1;
                        font-weight: 900;

                        position: absolute;
                        top: 0px;
                        right: 0;
                        color: $color3;
                        font-size: rem(16px);
                        padding: 7px;
                    }
                    .fulltext-search-box {
                        width: 100%;
                        height: 28px;
                        border: 0;
                        padding: 0 40px 0 10px;
                        background: transparent;
                        color: $color1;
                        font-family: $primaryFont;
                        font-size: rem(12px);
                        font-weight: 500;
                        @include appearance(none);
                        @include box-shadow(none);
                        @include border-radius(0);
                    }
                    .btn-buscar {
                        position: absolute;
                        font-size: 0;
                        width: 30px;
                        height: 30px;
                        top: 0;
                        right: 0;
                        background: transparent;
                        border:0;
                        @include appearance(none);
                        cursor: pointer;
                    }
                }
            }
            &.active {
                .fa-search {
                    display: none;
                }
                .fa-times {
                    display: block;
                }
                .overflow {
                    display: block;
                    z-index: 99;
                }
            }
        }

        .customerService {
            display: inline-block;
            vertical-align: middle;
            color: $color2;
            font-size: rem(11px);
            font-weight: 500;
            text-transform: uppercase;
            ul {
                width: 100%;
            }
            li {
                padding: 5px;
                min-height: 1px;
                text-align: center;
                position: relative;

                &:nth-child(1){
                    width: max-content;
                    display: inline-block;
                    vertical-align: top;

                    a{
                        display: inline-block;

                        &:nth-child(1){
                            margin-right: 10px;
                        }

                        &:nth-child(2){
                            margin-left: 10px;
                        }
                    }
                }

                &.carrinho{
                    position: relative;
                    height: 22px;
                    margin-left: 10px;
                    padding-top: 4px;
                    width: max-content;
                    display: inline-block;
                    vertical-align: top;

                    a{
                        &.openCart{
                            height: 14px;
                            line-height: 14px;
                            display: block;

                            i{
                                float: left;
                                height: 14px;
                                line-height: 14px;
                            }

                            .portal-totalizers-ref{
                                float: left;
                                padding: 0;
                                margin: 0;
                                margin-left: 5px;
                                height: 14px;
                                line-height: 14px;

                                .cart-info{
                                    padding: 0;
                                    margin: 0;
                                    line-height: 14px;
                                    height: 14px;
                                }

                                span.title,
                                li.amount-items,
                                li.amount-kits,
                                li.total-cart,
                                .portal-minicart-ref,
                                .vtexsc-cart {
                                    display: none!important;
                                    opacity: 0!important;
                                }
                                li.amount-products{
                                    margin: 0;
                                    padding: 0;
                                    height: 14px;
                                    line-height: 14px;

                                    strong{
                                        display: none;
                                    }

                                    em{
                                        color: #999;
                                        font-size: 13px;
                                        font-family: inherit;
                                        padding: 0;
                                        margin: 0;
                                        height: 14px;
                                        line-height: 14px;
                                    }
                                }
                            }
                        }
                    }
                }

                .searchBox {
                    position: relative;
                    background: #fff;
                    height: 30px;
                    width: 250px;
                    border: 1px solid $color3;
                    legend, label, select{display: none}
                    
                    fieldset {
                        position: relative;
                        width: 100%;
                        &:before {
                            content: "\f002";
                            font-family: "Font Awesome\ 5 Free";
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-font-smoothing: antialiased;
                            display: inline-block;
                            font-style: normal;
                            font-variant: normal;
                            text-rendering: auto;
                            line-height: 1;
                            font-weight: 900;

                            position: absolute;
                            top: 0px;
                            right: 0;
                            color: $color3;
                            font-size: rem(16px);
                            padding: 7px;
                        }
                        .fulltext-search-box {
                            width: 100%;
                            height: 28px;
                            border: 0;
                            padding: 0 40px 0 10px;
                            background: transparent;
                            color: $color1;
                            font-family: $primaryFont;
                            font-size: rem(12px);
                            font-weight: 500;
                            @include appearance(none);
                            @include box-shadow(none);
                            @include border-radius(0);
                        }
                        .btn-buscar {
                            position: absolute;
                            font-size: 0;
                            width: 30px;
                            height: 30px;
                            top: 0;
                            right: 0;
                            background: transparent;
                            border:0;
                            @include appearance(none);
                            cursor: pointer;
                        }
                    }
                }
            }

            a {
                display: block;
                color: $color2;
            }
        }
    }

    @include media($tablet) {
        .mainHeader {
            display: block;
            padding: 20px;
            padding-left: 10px!important;
            padding-right: 10px!important;

            .header-cart{
                display: inline-block!important;
                margin-left: 10px;

                a{
                    &.openCart{
                        height: 14px;
                        line-height: 14px;
                        display: block;

                        i{
                            float: left;
                            color: #999999;
                            font-size: 20px;
                        }

                        .portal-totalizers-ref{
                            float: left;
                            padding: 0;
                            margin: 0;
                            margin-left: 5px;
                            height: 14px;
                            line-height: 14px;

                            .cart-info{
                                padding: 0;
                                margin: 0;
                                line-height: 14px;
                                height: 14px;
                            }

                            span.title,
                            li.amount-items,
                            li.amount-kits,
                            li.total-cart,
                            .portal-minicart-ref,
                            .vtexsc-cart {
                                display: none!important;
                                opacity: 0!important;
                            }
                            li.amount-products{
                                margin: 0;
                                padding: 0;
                                height: 14px;
                                line-height: 14px;

                                strong{
                                    display: none;
                                }

                                em{
                                    color: #999;
                                    font-size: 13px;
                                    font-family: inherit;
                                    padding: 0;
                                    margin: 0;
                                    height: 14px;
                                    line-height: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .logo {
            text-align: center;
        }
        .toggleButtons {
            padding-right: 0;
            text-align: right;
            float: right!important;
            display: flex!important;
            align-items: center;
            height: 64px;
            justify-content: flex-end;

            .toggleSearch { 
                display: inline-block!important;
                border-right: 0;
                padding: 0;

                .fa-search{
                    margin-top: 0px!important;
                    font-size: 20px!important;
                }
                
                .fas {
                    font-size: rem(25px);
                    width: 25px;
                    height: 25px;
                    margin-top: 0!important;
                }

            }

            .customerService {
                display: none;
            }
        }
    }

    @include media($mobile) {
        .toggleButtons {
            .toggleSearch {
                display: block;
                border-right: 0;
                padding: 0;

                .fa-search{
                    margin-top: 20px;
                }
            }
        }        
    }


    // NAVIGATION
}
.navigation {
    .navOverlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        z-index: 10;
        top: 94px;
        left: 0;
        @include media($tablet) {
            top: 0;
        }
    }
    .navHead {
        display: none;
        padding: 5px 15px;
        font-size: 30px;
        color: $color3;
        text-align: right;
    }
    .menu-departamento {
        display: table;
        width: 100%;
        position: relative;

        &:after {display: none;}

        &>h3 {
            display: table-cell;
            vertical-align: middle;
            position: relative;
            text-align: center;
            font-weight: 500;
            font-size: rem(13px);
            text-transform: uppercase;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                height: 1px;
                background: $color3;
            }
            &:first-child {
                &:before {
                    width: 50%;
                    left: 50%;
                }
            }
            &:last-of-type {
                &:before {
                    width: 50%;
                    left: -50%;
                }
            }
            a {
                position: relative;
                display: table;
                margin: auto;
                background: #000;
                padding: 40px 10px;
                color: $color3;
                i {
                    display: none;
                }
            }
        }
        .submenu {
            display: none;
            position: absolute;
            width: 100%;
            min-height: 200px;
            top: 100%;
            left: 0;
            /*padding: 45px 0;*/
            padding: 5px 5px!important;
            padding-top: 0;
            padding-bottom: 0;
            z-index: 10;
            background: rgba(255,255,255,1);

            .submenuWrap {
                @extend .wrapper;

                padding-left: 0!important;
                padding-right: 0!important;
                margin-top: 0!important;
                margin-bottom: 0!important;
            }

            ul {
                display: inline-block;
                vertical-align: top;
                padding: 0 30px;
                width: calc(100% - 450px);
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .bannerSubmenu{
                float: right;
                width: 222px;

                a{
                    display: block;

                    img{
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }

            li {
                display: block;
                padding: 5px 0;
                strong {
                    display: block;
                    font-weight: 700;
                    font-size: 14px;
                    padding-bottom: 5px;
                }

                a {
                    color: $color1;
                    font-stretch: 12px;
                }
            }
        }
    }
}

body.isMobile {
    .pageNav {
        @include media($tablet) {
            position: fixed;
            background: #000;
            width: 310px;
            top: 0;
            left: -320px;
            height: 100vh;
            overflow-y: auto;
            margin: 0;
            z-index: 10;
            @include transition(all .5s ease-in-out);
            @include box-shadow(0 0 15px 5px rgba(0,0,0,0.15));

            .menu-departamento {
                padding-bottom: 70px;
                &>h3 {
                    position: relative;
                    display: block !important;
                    width: 100%;
                    text-align: left;
                    border-bottom: 1px dotted $color3;
                    a {
                        display: block;                        
                        padding: 15px 35px 15px 15px;
                        text-align: left;
                    }
                    .ico-expand {
                        display: block;
                        position: absolute;
                        top: 12px;
                        right: 15px;
                        font-size: 20px;
                        @include transition(all .1s ease-in-out);                        
                        @include transform(rotate(90deg));
                        
                        &.active {
                            @include transform(rotate(-90deg));
                        }
                    }
                }
            }

            &.open {
                left: 0;
            }

            .navHead {
                display: block;
            }

            .submenu {
                position: relative;
                top: 0;
                right: 0;
                width: 100%;
                min-height: 0;
                border: 0;
                border-bottom: 1px solid $borderColor;
                background: #ededed;
                padding: 15px;
                z-index: 10;
                @include box-shadow(none);

                .submenuWrap {
                    padding: 0;
                }
                ul {
                    display: block;                                        
                    width: 100%;
                    li {
                        display: block;
                        a {

                        }
                    }
                }
                .bannerSubmenu {
                    display: none !important;
                }
            }
        }

        @include media($mobile) {
            width: 90%;
            left: -110%;
            &.open {
                left: 0;
            }
        }
    }
}