/* ==========================================================================
   Slider
   ========================================================================== */
.fullGallery {
    background:#fff url('/arquivos/mybikini-loading.gif') no-repeat center center;
    overflow: hidden;
    height: 200px;
    @include transition(height 0.3s ease);

    .box-banner {
        opacity: 0;
        position: absolute;
    }
    &.slick-initialized {
        background: #fff;
        overflow: inherit;
        height: auto;

        .box-banner {
            opacity: 1;
            position: relative;
            transition: opacity 0.2s ease-in;
        }

        img {
            width: 100%;
            height: auto
        }
    } 
}
.carouselGallery{}
.verticalSlider{}

ul{
    &.slick-dots{
        clear: both;
        display: block!important;
        text-align: center;
        width: 100%;

        li{
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 0!important;
            float: inherit!important;
            width: 16px!important;
            height: 16px;
            margin-left: 3px;
            margin-right: 3px;
            border: 0;

            button{
                font-size: 0px;
                font-family: inherit;
                display: block;
                background-color: $black;
                border: 1px solid $black;
                cursor: pointer;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 3px solid #eee;
                margin: 0;
                padding: 0;

                &:focus{
                    outline: none;
                }
            }

            &.slick-active{
                button{
                    border: 3px solid #eee;
                    background-color: #be9857;
                }
            }
        }
    }
}