<h2>Contact Us</h2>

<p>Your questions and concerns are very important to us!</p>

<p>For customer service inquires, questions on our products or to simply provide us with general feedback, we encourage you to send us an email to the following address: contact@shopmybikini.com.</p>

<p>We'll get back to you within 48 hours.</p>

<p><strong>NEED MORE ASSISTANCE?</strong></p>

<p>Please complete the following form below.</p>

<form>
	<div class="wrap">
		<div class="wrap100">
			<label><span>*</span>Name:</label>
			<input type="text" name="name" class="input" />
		</div>
	</div>

	<div class="wrap">
		<div class="wrap100">
			<label><span>*</span>E-mail:</label>
			<input type="text" name="email" class="input" />
		</div>
	</div>

	<div class="wrap">
		<div class="wrap100">
			<label><span>*</span>Phone:</label>
			<input type="text" name="phone" class="input" />
		</div>
	</div>

	<div class="wrap">
		<div class="wrap100">
			<label><span>*</span>Subject:</label>
			<div class="wrapSelect">
				<div class="selectFake"><span>Select</span></div>
				<select>
					<option value="">Subject</option>
					<option value="Sugestion">Sugestion</option>
					<option value="Doubt">Doubt</option>
					<option value="Complaint">Complaint</option>
					<option value="Request Exchange">Request Exchange</option>
					<option value="Request Devolution">Request Devolution</option>
					<option value="Delivery Information">Delivery Information</option>
					<option value="Payment Information">Payment Information</option>
					<option value="I am a Supplier">I am a Supplier</option>
				</select>
			</div>
		</div>
	</div>

	<div class="wrap">
		<div class="wrap100">
			<label><span>*</span>Message:</label>
			<textarea name="message"></textarea>
		</div>
	</div>

	<div class="wrap">
		<div class="wrap100">
			<div class="mensagem">Loading...</div>
		</div>
	</div>

	<div class="wrap button">
		<div class="wrap100">
			<button class="bt enviar">Send</button>
		</div>
	</div>
</form>