/* ==========================================================================
   Account
   ========================================================================== */
body.account {
	
	&:before{
		display: none;
	}

	.blocker {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  z-index: 99999;
	  padding: 20px;
	  box-sizing: border-box;
	  background-color: rgb(255, 255, 255);
	  background-color: rgba(255, 255, 255, 0.5);
	  text-align: center;
	  &:before {
	    content: "";
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	    margin-right: -0.05em;
	  }
	  &.behind {
	    background-color: transparent;
	  }
	}

	.modal {
	  position: relative;
	  display: inline-block;
	  vertical-align: middle;
	  max-width: 500px;
	  width: 90%;
	  box-sizing: border-box;
	  border: 0;
	  padding: 0;
	  background: #fff;
	  -webkit-border-radius: 0px;
	  -moz-border-radius: 0px;
	  -o-border-radius: 0px;
	  -ms-border-radius: 0px;
	  border-radius: 0px;
	  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
	  -o-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
	  -ms-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
	  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
	  text-align: left;
	  z-index: 2;
	}

	.modal-header, .modal-body, .modal-footer {
	  padding: 15px 30px;
	  overflow: hidden;
	}

	.modal a.close-modal {
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  display: block;
	  /* text-indent: -9999px; */
	  font-size: 0;
	  &:before {
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    content: "╳";
	    font-size: 16px;
	    color: $black;
	  }
	}

	.modal-spinner {
	  display: none;
	  width: 64px;
	  height: 64px;
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  margin-right: -32px;
	  margin-top: -32px;
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  -o-border-radius: 8px;
	  -ms-border-radius: 8px;
	  border-radius: 8px;
	}

  .pageHeader {
  	padding-bottom: 0;

    .searchBox .fulltext-search-box {
      box-shadow: none;
    }
  }
  .content {
    position: relative;
    > {
      .span4, .span6, .span3 {
        margin: 0;
      }
    }
  }
  .row {
    margin: 0;
  }
  #mainContent {
    font-family: inherit;
    > .small-wrapper {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
    }
    h2.pageTitle {
      	color: $black;
	    font-size: 28px;
	    font-family: inherit;
	    text-align: center;
	    font-weight: 500;
	    text-transform: uppercase;
	    padding-bottom: 40px;
	    clear: both;
	    display: block;
    }
    a {
      text-decoration: underline;
    }
    h4 {
      font-size: 14px;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: $black;
      font-family: inherit;
    }
  }
  #edit-data-link, .new-address-link .address-update, .orders-link a, .btn-myOrders {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 14px 30px;
    background: $black;
    border: 1px solid $black;
    color: #be9857;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 0 20px 0;
    text-decoration: none !important;
    text-transform: uppercase;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    display: table;
  }
  #edit-data-link:hover, .new-address-link .address-update:hover, .orders-link a:hover, .btn-myOrders:hover {
    background: #be9857;
    border: 1px solid #be9857;
    color: $black;
  }
  .modal-footer {
    .btn-primary {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      padding: 14px 30px;
      background: $black;
	  border: 1px solid $black;
      color: #be9857;
      font-size: 14px;
      font-family: inherit;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      font-family: inherit;
      font-size: .75rem;
      font-weight: 500;
      padding: 10px 15px;
      margin: 10px 0 20px 0;
      text-decoration: none !important;
      text-transform: uppercase;
      border-radius: 0;
      text-shadow: none;
      box-shadow: none;
      display: table;

      &:hover {
      	background: #be9857;
        border: 1px solid #be9857;
        color: $black;
      }
    }
    .btn-link {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      padding: 14px 30px;
      background: $black;
      border: 1px solid $black;
      color: $white;
      font-size: 14px;
      font-family: inherit;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      font-family: inherit;
      font-size: .75rem;
      font-weight: 500;
      padding: 10px 15px;
      margin: 10px 0 20px 0;
      text-decoration: none !important;
      border-radius: 0;
      text-shadow: none;
      box-shadow: none;
      display: table;
      &:hover {
        color: $black;
        background: $white;
      }
    }
  }
  .modal {
    max-width: 560px;
    #accountAjaxBusy {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 42px;
      height: 42px;
      font-size: 0;
      background-image: url("/arquivos/loading.gif");
    }
    .modal-header {
      background: #f1f1f1;
      border-bottom: 1px dotted #bebebe;
      h3 {
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 0;
        color: $black;
        font-family: inherit;
      }
      button {
        display: none !important;
      }
    }
    .modal-body {
      max-height: 450px;
      overflow: auto;
      label {
        display: block;
        font-size: .875rem;
        margin-bottom: 7px;
        color: #6f7375;
        font-family: inherit;
      }
      input[type=text], textarea {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        margin-bottom: 10px;
        border: 1px solid #cacaca;
        border-radius: 0px;
        box-shadow: none;
        color: #6f7375;
        font-size: .6875rem;
        font-family: inherit;
      }
      input[type=text] {
        height: 45px;
        padding: 0px 30px;
      }
      textarea {
        padding: 20px;
      }
      select {
        display: block;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        box-shadow: none;
        padding: 7px;
        margin-bottom: 10px;
        border: 1px solid #borderColor;
        color: #6f7375;
        font-size: .6875rem;
        font-family: inherit;
      }
      h5 {
        margin: 10px 0;
        color: #6f7375;
        font-size: .875rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      a {
        color: #6f7375;
        font-size: .75rem;
        font-weight: 600;
      }
      input[type=text] {
        width: 100%;
        padding: 5px;
        height: 30px;
        box-shadow: none;
        border-radius: 0;
        &[id=email] {
          max-width: 370px;
        }
        &[id=street] {
          width: 300px;
        }
        &[id=number] {
          width: 100px;
        }
      }
      label {
        text-transform: uppercase;
        &.error {
          float: right;
          color: gray;
        }
      }
      .control-group {
        margin-bottom: 20px;
      }
    }
    .modal-footer {
      background: #f1f1f1;
      border-top: 1px dotted #bebebe;
      button {
        display: none !important;
      }
      .btn-primary {
        float: right;
        margin: 0;
      }
      .btn-link {
        margin: 0;
        float: left;
      }
    }
    .profile-detail-form {
      .control-group {
        margin: 0 20px 10px 5px;
        &.form-contact-data-email {
          width: 100%;
        }
      }
      .form-personal-data-gender label {
        display: inline-block;
        margin-right: 10px;
      }
      .form-business-data-name {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .address-form {
      .address-form-street-name {
        width: 300px;
      }
      [class*="span"] {
        margin: 0 10px 0 0;
      }
    }
  }
  .profile-detail-display {
    display: inline-block;
    vertical-align: top;
    background-color: $white;
    text-align: left;
    margin-right: .7766990653%;
    width: calc(32% - 65px);
    border: 1px solid #cacaca;
    padding: 20px 30px;
    &:last-child {
      margin-right: 0;
    }
    h5 {
      font-size: 13px;
      color: $black;
      font-family: inherit;
      letter-spacing: 0.5px;
      margin-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .profile-detail-display-email {
      font-size: .8125rem;
      text-overflow: ellipsis;
      color: $black;
      font-family: inherit;
      white-space: nowrap;
      overflow: hidden;
    }
    .profile-detail-display-info span {
      font-size: 13px;
      line-height: 1.5;
      color: $black;
      letter-spacing: 0.5px;
    }
  }
  .address-display-block {
    display: inline-block;
    vertical-align: top;
    background-color: $white;
    text-align: left;
    margin-right: .7766990653%;
    width: calc(32% - 65px);
    border: 1px solid #cacaca;
    padding: 20px 30px;
    margin-left: 0;
    &:last-child {
      margin-right: 0;
    }
    .address-display-unit {
      width: 100%;
      padding: 15px;
      margin: 0 15px 15px 0;
      color: $black;
      font-family: inherit;

      h5 {
        font-size: .875rem;
        font-weight: 500;
      }
      .edit-address-link {
        margin-bottom: 10px;
        margin-left: -5px;
        a {
          font-size: .6875rem;
          padding: 5px;
          color: #6f7375;
        }
      }
      .address-display-unit-info {
        font-size: 0.75rem;
      }
    }
  }
  .my-orders {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: $white;
    margin-right: .7766990653%;
    width: calc(32% - 42px);
    border: 1px solid #cacaca;
    padding: 20px 30px;
    &:last-child {
      margin-right: 0;
    }
    h5 {
      font-size: .875rem;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }
  .myorders {
    .order-header.page-header {
      padding: 0 15px !important;
    }
    .page-header h1 {
      margin-top: 0;
    }
    .myorders-list {
      a {
        text-decoration: none !important;
      }
      .order-date {
        color: #000;
      }
    }
  }
  .nav-pills > .active > a {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 14px 30px;
    background: #fff;
    border: 1px solid #6f7375;
    color: #6f7375;
    font-size: .75rem;
    font-family: inherit;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    text-decoration: none !important;
    font-size: .75rem;
    font-weight: 600;
    &:hover, &:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      padding: 14px 30px;
      background: #fff;
      border: 1px solid #6f7375;
      color: #6f7375;
      font-size: .75rem;
      font-family: inherit;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      text-decoration: none !important;
      font-size: .75rem;
      font-weight: 600;
    }
    &:hover, &:focus:hover {
      color: #000;
    }
  }
  #address-edit h4 {
    text-align: center;
    margin-top: 20px;
    display: block;
  }
  &.orders {
    .vtex-bootstrap .container {
      width: 100%;
      padding: 0;
      > .page-header, .form-search {
        display: none;
      }
    }
    .myorders-empty .alert-info {
      background: #cacaca;
      color: #6f7375;
      border-color: #ccc;
      width: auto;
    }
    .form-search input {
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      border-radius: 0px;
      box-shadow: none;
      padding: 12px;
      margin-bottom: 10px;
      border: 1px solid #cacaca;
      color: #575757;
      font-size: .75rem;
      font-family: inherit;
    }
    .ordergroup {
      border-radius: 0px !important;
      border: 0 !important;
      margin: 0;
      .order-header {
        padding: 15px;
        background: #f6f6f6;
        border-bottom: 0 !important;
        margin-top: 0;
        h2 {
          line-height: 1;
          padding: 0;
          .title-ordergroup-order, .order-date {
            font-size: .875rem;
            color: #6f7375;
            font-weight: 400;
          }
          .repeat-order {
            display: none !important;
          }
        }
      }
      .order-info {
        color: #575757;
        font-size: 0.75rem;
        hr {
          display: none;
        }
        span {
          color: #575757 !important;
          font-size: 0.75rem !important;
        }
        h3.section-info-title {
          font-size: .875rem;
          color: #6f7375;
          font-weight: 400;
        }
        .general-info .payment-connector.muted {
          display: none;
        }
        .span4.total-info {
          h3 {
            display: none;
          }
          tr {
            border-top: 0;
          }
          th {
            vertical-align: middle;
            color: #6f7375 !important;
            font-weight: 400;
          }
          td {
            vertical-align: middle;
          }
        }
      }
      .bank-invoice-print .bank-invoice-print-url {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        padding: 15px 30px;
        background: #59b420;
        border: 0;
        color: #fff;
        font-size: .75rem;
        font-family: inherit;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
        display: block;
        max-width: 260px;
        padding: 10px 10px;
        margin-top: 15px;
        &:hover {
          background: rgba(89, 180, 32, 0.9);
        }
      }
      .order-details {
        .top-row {
          margin: 20px 0;
          h3 {
            font-size: .875rem;
            font-weight: 400;
          }
          p {
            font-weight: 400;
          }
          .order-status-info {
            .order-status-wrapper .order-status {
              margin-bottom: 12px;
              padding: 5px;
              border-radius: 0px;
              font-size: .625rem;
              font-family: inherit;
              font-weight: 400;
              text-transform: uppercase;
              text-shadow: none;
            }
            .request-cancel a {
              text-shadow: none;
              color: #6f7375;
              font-size: .625rem;
              font-family: inherit;
              text-transform: uppercase;
            }
          }
        }
        .items {
          margin: 10px 0;
          thead {
            background: #f6f6f6;
            th {
              font-size: .875rem;
              font-weight: 400;
              color: #6f7375;
            }
          }
          tbody {
            a {
              color: #6f7375;
            }
            td.product-image {
              text-align: center;
            }
          }
        }
        .showTrackingInfo .btn {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          appearance: none;
          padding: 14px 30px;
          background: #fff;
          border: 1px solid #6f7375;
          color: #6f7375;
          font-size: .75rem;
          font-family: inherit;
          font-weight: 900;
          text-align: center;
          text-transform: uppercase;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          -ms-border-radius: 0px;
          border-radius: 0px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          cursor: pointer;
          font-weight: 700;
          padding: 10px 30px;
          text-decoration: none !important;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  body.account #mainContent h2.pageTitle {
    &:after, &:before {
      width: 75px;
      height: 4px;
      background-size: cover;
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  body.account #mainContent h2.pageTitle {
    &:after, &:before {
      display: none;
    }
  }
}

@media screen and (max-width: 920px) {
  body.account #mainContent h2.pageTitle {
    &:after, &:before {
      display: none;
    }
  }
}

@media screen and (max-width: 1280px) {
  /*body.account .profile-detail-display {
    float: left;
    display: block;
    margin-right: 1.169590698%;
    width: 32.55361%;
    &:last-child {
      margin-right: 0;
    }
  }*/
}

@media screen and (max-width: 1024px) {
  /*body.account .profile-detail-display {
    float: left;
    display: block;
    margin-right: 1.7647059654%;
    width: 36.39706%;
    &:last-child {
      margin-right: 0;
    }
  }*/
}

@media screen and (max-width: 920px) {
  body.account .profile-detail-display {
    float: left;
    display: block;
    margin-right: 0;
    width: 100%;
    margin-top: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  /*body.account .address-display-block {
    float: left;
    display: block;
    margin-right: 1.169590698%;
    width: 32.55361%;
    &:last-child {
      margin-right: 0;
    }
  }*/
}

@media screen and (max-width: 1024px) {
  /*body.account .address-display-block {
    float: left;
    display: block;
    margin-right: 1.7647059654%;
    width: 36.39706%;
    &:last-child {
      margin-right: 0;
    }
  }*/
}

@media screen and (max-width: 920px) {
  body.account .address-display-block {
    float: left;
    display: block;
    margin-right: 0;
    width: 100%;
    margin-top: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  /*body.account .my-orders {
    float: left;
    display: block;
    margin-right: 1.169590698%;
    width: 32.55361%;
    &:last-child {
      margin-right: 0;
    }
  }*/
}

@media screen and (max-width: 1024px) {
  /*body.account .my-orders {
    float: left;
    display: block;
    margin-right: 1.7647059654%;
    width: 23.67647%;
    &:last-child {
      margin-right: 0;
    }
  }*/
}

@media screen and (max-width: 920px) {
  body.account .my-orders {
    float: left;
    display: block;
    margin-right: 0;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 920px) {
  body.account.orders {
    padding-top: 70px !important;
  }
}

@media screen and (max-width: 920px) {
  body.account.orders .ordergroup .order-info .general-info {
    width: 100%;
    margin: 0 !important;
  }
}

@media screen and (max-width: 920px) {
  body.account.orders .ordergroup .order-details .top-row > div {
    width: 100%;
    display: block;
    float: none;
    margin: 0;
  }
}

@media screen and (max-width: 920px) {
  body.account.orders .ordergroup .order-details .items tbody td.product-image {
    max-width: 0px;
    overflow: hidden;
    padding: 0;
  }
}