/* ==========================================================================
   Common
   ========================================================================== */
body{
	background: #fff !important;
	color: $color1;
	font-size: rem(14px);
    font-family: $primaryFont !important;
    line-height: normal;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px transparent;
    -moz-text-stroke: 1px transparent;
    -ms-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;

    @include media($tablet) {
        &.menuOpen {
            overflow: hidden;
        }
    }	

    &+:before{
        display: none!important;
    }
}
.fluid-wrapper {
    width: 100%;
    max-width: 1860px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    @include media($tablet) {
        padding-right: 20px;
        padding-left: 20px;
    }
}
.wrapper{
	@include outer-container();
	padding-left: 20px;
	padding-right: 20px;
}

.right{
	text-align: right;
}

.seoStoreName{display: none;}

#ajaxBusy {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    position: fixed;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
    font-size: 0;
    border-radius: 100%;  
    z-index: 999999;
    display: none!important;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.opacity{
    opacity: 1!important;
}
.pb{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

/*COMUM AND HOME E 401*/
#instaBox {
    background: #000;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    h3 {
        margin-bottom: 40px;
        padding: 0 30px;
        color: $color3;
        font-size: rem(16px);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    #instagram {
        display: none;
        .box-banner {display: none}
        .instaItem {
            float: left;
            width: 25%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;

            a {
                display: block;
                line-height: 0;
                font-size: 0;

                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                    background: rgba(0,0,0,0.6) url('/arquivos/logo-instagram.png') no-repeat center center;   
                    @include transition(all .3s ease);                    
                    @include opacity(0);                                     
                }
                &:hover {
                    &:before {
                        @include opacity(1);                        
                    }
                }
            }
        }
    }
}

#register {
    background: #000;

    .formOptin {
        position: relative;
        padding-top: 200px;
        padding-bottom: 80px;
        margin-top: -175px;
        .campos{ 
            h5 {
                margin-bottom: 40px;
                color: #fff;
                /*font-size: rem(40px);*/
                font-size: rem(16px);
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
            }
            @include placeholderColor(#fff);

            input {
                display: block;
                width: 100%;
                max-width: 470px;
                /*height: 68px;*/
                height: 50px;
                margin: auto;
                @include appearance(none);
                border: 0;
                background: #3d3e3f;
                color: #fff;
                /*font-size: 30px;*/
                font-size: 15px;
                font-family: $primaryFont;
                text-align: center;
            }
            .inputButton {
                text-align: center;
                margin-top: 20px;
                button {
                    background: transparent;
                    border: 0;
                    @include appearance(none);
                    cursor: pointer;

                    &#ButtonOK-News{
                        em{
                            &:hover{
                                background-color: #be9857;
                                color: #fff;
                            }
                        }
                    }
                }
                em {
                    display: inline-block;
                    vertical-align: middle;
                    border: 1px solid $color3;
                    background: #3d3e3f;
                    padding: 10px 30px;
                    color: $color3;
                    /*font-size: 30px;*/
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    @include border-radius(50px)                        
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 20px;
                    color: $color3;
                    /*font-size: 25px;*/
                    font-size: 12.5px;
                    text-align: left;
                }
            }
        }

        .success {
            margin-bottom: 40px;
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
        }

        .erro {
            display: none;
            p {
                margin-bottom: 40px;
                color: #fff;
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
            }
            a {
                display: table;
                vertical-align: middle;
                margin: auto;
                border: 1px solid $color3;
                background: #3d3e3f;
                padding: 10px 30px;
                color: $color3;
                /*font-size: 30px;*/
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                @include border-radius(50px)   
            }
        }
    }
}

.grayBlock {
    background: #eee;
}
.whiteBox {
    background: #fff;
}

@include media($tablet) {
    #register {
        .formOptin {
            .campos {
                h5 {
                    font-size: rem(32px);
                }
            }
        }
        .success {
            font-size: rem(32px);
        }

        .erro {
            p {
                font-size: rem(32px);
            }
        }
    }

    
    #instaBox {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;            
        h3 {
            font-size: rem(32px);
        }
    }
}

@include media($mobile) {
    #instaBox {
        h3 {
            font-size: rem(18px);
        }
        #instagram{
            .instaItem {
                width: 50%
            }
        }
    }

    #register {
        .formOptin {
            .campos {
                h5 {
                    font-size: rem(18px);
                }
            }
        }
        .success {
            font-size: rem(18px);
        }

        .erro {
            p {
                font-size: rem(18px);
            }
        }
    }
}

/*breadcrumb*/
// MIXIN, substituir parametros:
// @include breadcrumb($color, $colorActive)

