/* ==========================================================================
   Home
   ========================================================================== */
body.home {    
    .fullGallery {
        /*top: -50px;*/
        margin-bottom: 20px;
        
        &#tvDesktop {
            background-color: #eee !important;
        }
        &#tvMobile {
            display: none;
		}

		@include media($mobile) {
			&#tvDesktop {
				display: none;
			}
			&#tvMobile {
				display: block;
			}
		}
	}

    #mainContent{
        .whiteBox{
            .fluid-wrapper{
                position: relative;
                z-index: 9999999;
            }
        }
    }

    .mosaicoHome {
        position: relative;
        /*top: -30px;*/

        .box-banner {
            @include span-columns(6);
            margin-bottom: 20px;
            &:nth-child(2n){
                @include omega();
            }
            a {
                display: block;
                line-height: 0;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        @media screen and (max-width: 480px) {
            .box-banner {
                width: 100%;
                float: inherit;
                margin: 0 auto;
                margin-bottom: 10px;

                &:last-child{
                    margin-bottom: 0!important;
                }
            }
        }
    }

    .featuredProducts {
        position: relative;
        padding-top: 190px;
        padding-bottom: 50px;
        margin-top: -140px;
        display: none;

        .prateleira{
            ul{
                li{
                    padding-top: 25px;
                    margin-bottom: 10px;

                    &:nth-child(2){
                        padding-top: 0;
                    }
                }

                .slick-dots{
                    li{
                        padding-top: 0!important;
                    }
                }
            }
            
            .slick-arrow{
                width: 12px;
                height: 39px;
                position: absolute;
                font-size: 0;
                z-index: 99;
                top: 50%;
                margin-top: -19.5px;
                cursor: pointer;
                background-color: transparent;
                padding: 0;
                border: 0;

                &::after{
                    content: '\203A';
                    display: block;
                    font-size: 32px;
                    color: #be9857;
                }

                &.slick-prev{
                    left: 0px;
                    -moz-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

                &.slick-next{
                    right: 0px;
                }
            }
        }

        @media screen and (max-width: 680px) {
            .prateleira{
                ul{
                    li{
                        padding-top: 0;
                        margin-left: 0.5%;
                        margin-right: 0.5%;
                    }
                }
            }
        }
    }
}