/* ==========================================================================
   Institutional
   ========================================================================== */
body{
	&.institucional{

		background-color: #eee!important;

		&:before{
			display: none;
		}

		.wrapper{
			overflow: hidden;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.pageHeader{
			padding-bottom: 0;
		}

		&.return-policy{
			.sidebar{
				ul{
					li.return-policy{
						a{
							color: $black!important;
							border-color: #be9857!important;
							background-color: #be9857!important;
							text-decoration: none!important;
						}
					}
				}
			}
		}

		&.shipping-info{
			.sidebar{
				ul{
					li.shipping-info{
						a{
							color: $black!important;
							border-color: #be9857!important;
							background-color: #be9857!important;
							text-decoration: none!important;
						}
					}
				}
			}
		}

		&.contact-us{
			.sidebar{
				ul{
					li.contact-us{
						a{
							color: $black!important;
							border-color: #be9857!important;
							background-color: #be9857!important;
							text-decoration: none!important;
						}
					}
				}
			}
			.wrapperContent{
				form{
					.wrap{
						clear: both;
						width: 100%;
						margin-bottom: 10px;

						.wrap100{
							clear: both;
							width: 100%;	

							.mensagem{
								font-size: 14px;
								font-weight: 500;
								font-family: inherit;
								color: $black;
								clear: both;
								display: none;
							}		

							button{
								&.bt{
									width: max-content;
									display: block;
									line-height: 28px;
									color: #be9857;
									font-weight: 500;
									font-family: inherit;
									font-size: 14px;
									padding-top: 10px;
									padding-bottom: 10px;
									padding-left: 30px;
									padding-right: 30px;
									text-align: center;
									cursor: pointer;
									text-transform: uppercase;
									background-color: $black;
									border: 1px solid $black;

									&:focus{
										outline: none;
									}

									&:hover{
										color: $black;
										border-color: #be9857;
										background-color: #be9857;
										text-decoration: none;
									}
								}
							}				

							label{
								clear: both;
								display: block;
								margin-bottom: 5px;
								font-size: 13px;
								font-family: inherit;
								font-weight: 500;
								text-transform: uppercase;
							}

							.wrapSelect{
								position: relative;

								.selectFake{
									width: 100%;
									height: 32px;
									display: block;
									padding-left: 5px;
									font-family: inherit;
									border: 1px solid #be9857;
									background-color: #fff;

									&:after{
										content: '▾';
										font-size: 14px;
										color: #be9857;
										float: right;
										display: inline-block;
										height: auto;
										margin-right: 10px;
    									margin-top: 4px;
									}

									span{
										line-height: 32px;
										height: 32px;
										display: inline-block;
									}
								}

								select{
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 32px;
									cursor: pointer;
									opacity: 0;
								}
							}

							input{
								width: 100%;
								height: 32px;
								display: block;
								padding-left: 5px;
								font-family: inherit;
								border: 1px solid #be9857;
							}

							textarea{
								width: 100%;
								height: 100px;
								display: block;
								padding: 5px;
								font-family: inherit;
								border: 1px solid #be9857;
							}

							.error{
								border-color: red!important;
							}
						}
					}
				}
			}
		}

		&.about-us{
			.sidebar{
				ul{
					li.about-us{
						a{
							color: $black!important;
							border-color: #be9857!important;
							background-color: #be9857!important;
							text-decoration: none!important;
						}
					}
				}
			}
		}

		&.terms-e-conditions{
			.sidebar{
				ul{
					li.terms-e-conditions{
						a{
							color: $black!important;
							border-color: #be9857!important;
							background-color: #be9857!important;
							text-decoration: none!important;
						}
					}
				}
			}
		}

		&.privacy-policy{
			.sidebar{
				ul{
					li.privacy-policy{
						a{
							color: $black!important;
							border-color: #be9857!important;
							background-color: #be9857!important;
							text-decoration: none!important;
						}
					}
				}
			}
		}

		.sidebar{
			width: 20%;
			float: left;
			padding-top: 0px;
			overflow: hidden;

			ul{
				li{
					a{
						width: 100%;
						display: block;
						line-height: 28px;
						color: #be9857;
						font-weight: 500;
						font-family: inherit;
						font-size: 14px;
						padding-top: 12px;
						padding-bottom: 12px;
						margin-bottom: 15px;
						text-align: center;
						text-transform: uppercase;
						background-color: $black;
						border: 1px solid $black;

						&:hover{
							color: $black;
							border-color: #be9857;
							background-color: #be9857;
							text-decoration: none;
						}
					}
				}
			}

			.wrapper-itens{
				display: none;
			}
		}
		.wrapperContent{
			width: 76%;
			overflow: hidden;
			float: right;
			padding-bottom: 20px;
			padding-top: 0px;

			h2{
	            font-size: 20px;
			    font-weight: 500;
			    color: #be9857;
			    font-family: inherit;
			    margin-bottom: 25px;
			    text-transform: uppercase;
			    text-align: left;
			    padding: 0;
			    border-bottom: 1px solid #dcdcdc;
				padding-bottom: 10px;
	        }

	        h3,
	        h4{
	            font-size: 16px!important;
	            font-family: inherit;
			    font-weight: 400;
			    color: $black;
			    margin-bottom: 15px;
			    letter-spacing: 0.5px;
			    text-transform: inherit;
			    text-align: left;
			    padding: 0;
	        }

			strong{
				color: $black;
				font-size: 14px;
				font-family: inherit;
				font-weight: 500;
				letter-spacing: 0.5px;
			}

			p{
				font-size: 14px;
				font-family: inherit;
				text-align: justify;
				line-height: 24px;
				margin-bottom: 20px;
				font-weight: 400;
				color: $black;
				letter-spacing: 0.5px;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	body.institucional {	
		.sidebar{
			width: 30%;
		}
		.wrapperContent{
			width: 68%;
		}
	}
}

@media screen and (max-width: 800px) {
	body.institucional {
		.sidebar{
			float: none;
			width: 100%;
			clear: both;
			overflow: hidden;
			border: 0;
			padding: 0;
			margin-top: 0;
			margin-bottom: 40px;

			ul{
				&.itens{
					display: none;
				}
			}

			.wrapper-itens{
				width: 100%;
				display: block;
				position: relative;
			    padding-top: 12px;
			    padding-bottom: 12px;
			    padding-left: 14px;
			    padding-right: 25px;
			    background-color: $white;
			    color: $black;
			    cursor: pointer;
			    font-size: 11px;
			    font-family: inherit;
			    overflow: visible;
			    text-transform: uppercase;
			    border: 1px solid #be9857;

			    &::after{
				    content:' ▼';
				    color: #be9857;
				    float:right;
				    display: inline-block;
				    font-size: 12px;
				    margin: 0px 0 0 10px;
				    -moz-transition:0.5s all;
				    -webkit-transition:0.5s all;
				    height: auto;
				}

			    select{
		    	    width: 100%;
				    position: absolute;
				    left: 0;
				    top: 0;
				    height: 36px;
				    opacity: 0;
			    }
			}
		}
		.wrapperContent{
			width: 100%;
		}
	}
}

@media screen and (max-width: 600px) {
	body{
		&.institucional{
			.wrapperContent{
				h2{
					font-size: 16px;
				}
				p{
					font-size: 12px;
					text-align: justify;
				}
			}
		}
	}
}