/* ==========================================================================
   404
   ========================================================================== */
body{
	&.pag404{
		background-color: #eee!important;

		&:before{
			display: none;
		}

		.wrapper{
			overflow: hidden;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.pageHeader{
			padding-bottom: 0;
		}

		.erro{
			text-align: center;
			overflow: hidden;
			clear: both;
			margin-bottom: 60px;
			padding-bottom: 10px;

			strong{
				display: inline-block;
				font-size: 58px;
				margin-right: 15px;
				font-weight: 500;
				color: $black;
				letter-spacing: 2px;
			}
			.frase{
				display: inline-block;
				margin-left: 15px;
				font-size: 16px;
				color: #6f6f6f;
				line-height: 24px;
				position: relative;
				top: 2px;
				letter-spacing: 1px;
			}
		}
		.wrapperBaixo{
			text-align: center;
			height: 100px;
			width: 60%;
			margin: 0 auto;
			position: relative;

			strong{
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 15px;
				clear: both;
				display: block;
				color: $black;
				text-transform: uppercase;
				letter-spacing: 1px;
			}

			.left{
				display: inline-block;
				margin-right: 40px;
				text-align: left;
				height: 100px;
				width: 45%;
				position: absolute;
				left: 0;
				top: 0;

				p{
					line-height: 22px;
					font-size: 14px;
					letter-spacing: 1px;
					color: #6f6f6f;
				}
			}
			.right{
				display: inline-block;
				margin-left: 40px;
				height: 100px;
				width: 45%;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;

				button{
					&.bt-back-home{
						width: max-content;
						border: 0;
						padding: 0;
						background-color: $black;
						text-transform: uppercase;
						color: #be9857;
						font-family: inherit;
						font-size: 14px;
						font-weight: 800;
						letter-spacing: 2px;
						line-height: inherit;
						text-align: center;
						padding-left: 25px;
						padding-right: 25px;
						padding-top: 10px;
						padding-bottom: 10px;
						display: block;
						margin: 0 auto;
						margin-top: 20px;
						cursor: pointer;
						-moz-transition: all 0.2s;
					    -webkit-transition: all 0.2s;
					    transition: all 0.2s;

						&:focus{
							outline: none;
						}

						&:hover{
							background-color: #be9857;
							color: $black;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	body{
		&.pag404{
			.wrapperBaixo{
				width: 60%;

				.right{
					width: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	body{
		&.pag404{
			.wrapperBaixo{
				width: 98%;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	body{
		&.pag404{
			.erro{
				margin-bottom: 40px;
			}

			.wrapperBaixo{
				width: 98%;

				strong{
					font-size: 16px;
				}

				.left,
				.right{
					width: 100%;
					float: none;
					text-align: center;
					overflow: hidden;
					margin-left: 0;
					margin-right: 0;
					position: static;
					top: inherit;

					button{
						&.bt-back-home{
							margin-top: 10px;
							font-size: 11px;
							padding-left: 12px;
							padding-right: 12px;
						}
					}

					p{
						font-size: 12px;
					}
				}

				.right{
					margin-top: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 420px) {
	body{
		&.pag404{
			.erro{
				strong{
					clear: both;
					display: block;
					margin-right: 0;
				}
				.frase{
					display: block;
					overflow: hidden;
					float: none;
					margin-left: 0;
					margin-right: 0;
					margin-top: 20px;	
				}
			}
		}
	}
}