/* ==========================================================================
   401
   ========================================================================== */

body.pag401{
	&:before{
		display: none;
	}

	.pageFooter{
		padding-top: 20px;
    	padding-bottom: 20px;
		
        .wrapper{
            margin-bottom: 0;

            .floatingBox{
            	top: inherit;
            	overflow: hidden;

            	.footerLinks li a{
            		text-align: left;
            	}
            }
        }
    }

	.wrapper{
		overflow: hidden;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.pageHeader{
		padding-top: 20px;
		padding-bottom: 20px;

		.logo{
			padding-right: 0;
			text-align: center;
		}
	}

	.pageFooter{
		.wrapper{
			margin-top: 0;
			overflow: visible;
		}
	}

	button,
	a{
		&.bt{
			width: max-content;
			display: block;
			line-height: 28px;
			color: #be9857;
			font-weight: 500;
			font-family: inherit;
			font-size: 14px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 30px;
			padding-right: 30px;
			margin: 0 auto;
			text-align: center;
			cursor: pointer;
			text-transform: uppercase;
			background-color: $black;
			border: 1px solid $black;

			&:focus{
				outline: none;
			}

			&:hover{
				color: $black;
				border-color: #be9857;
				background-color: #be9857;
				text-decoration: none;
			}
		}
		&.gohome{
			margin-top: 10px;
		}
	}

	.top{
		text-align: center;
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 20px;
		margin-bottom: 20px;

		h2{
			text-align: center;
			display: block;
			font-family: inherit;
			color: #be9857;
			font-weight: 800;
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 15px;
		}

		p{
			font-family: inherit;
			font-size: 14px;
			line-height: 20px;
		}

		&.cadastrado{
			margin-top: 20px;

			h2,
			button.bt{
				display: none;
			}
		}

		&.cadastrese{
			border-bottom: 0;
		}
	}

	form.form401{
		padding-left: 100px;
		padding-right: 100px;

		.wrapBloco{
			overflow: hidden;
			clear: both;
			width: 100%;
			margin-bottom: 30px;

			h3{
				clear: both;
				display: block;
				margin-bottom: 20px;
				font-size: 16px;
				font-family: inherit;
				font-weight: 600;
				text-transform: uppercase;
			}

			.wrap{
				clear: both;
				width: 100%;
				margin-bottom: 10px;

				.wrap100{
					width: 100%;
					float: inherit;
					clear: both;
				}

				.wrap50{
					width: calc(50% - 10px);
					float: left;

					&:nth-child(2){
						float: right;
					}	
				}

				.mensagem{
					font-size: 14px;
					font-weight: 500;
					line-height: 51px;
					font-family: inherit;
					color: $black;
					clear: both;
					display: none;
				}		

				button{
					&.bt{				
						margin-top: 20px;
					}
				}

				label{
					clear: both;
					display: block;
					margin-bottom: 5px;
					font-size: 13px;
					font-family: inherit;
					font-weight: 500;
					text-transform: uppercase;
				}

				.wrapSelect{
					position: relative;

					.selectFake{
						width: 100%;
						height: 32px;
						display: block;
						padding-left: 5px;
						font-family: inherit;
						border: 1px solid #be9857;
						background-color: #fff;

						&:after{
							content: '▾';
							font-size: 14px;
							color: #be9857;
							float: right;
							display: inline-block;
							height: auto;
							margin-right: 10px;
							margin-top: 4px;
						}

						span{
							line-height: 32px;
							height: 32px;
							display: inline-block;
						}
					}

					select{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 32px;
						cursor: pointer;
						opacity: 0;
					}
				}

				input{
					width: 100%;
					height: 32px;
					display: block;
					padding-left: 5px;
					font-family: inherit;
					border: 1px solid #be9857;
				}

				textarea{
					width: 100%;
					height: 100px;
					display: block;
					padding: 5px;
					font-family: inherit;
					border: 1px solid #be9857;
				}

				.error{
					border-color: red!important;
				}
			}
		}

		@media screen and (max-width: 710px) {
			padding-left: 0;
			padding-right: 0;
		}

		@media screen and (max-width: 380px) {
			.wrapBloco{
				.wrap{
					margin-bottom: 0;

					.wrap50{
						width: 100%;
						float: inherit;
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 710px) {
		.pageHeader .mainHeader{
			text-align: center;
			padding-top: 0;
			padding-bottom: 0;
		}
	}	
}